/* ||||| RESET E NORMALIZZAZIONE ||||| */
/* <editor-fold */
body {
    font-family: /** inserire **/;
}

h1, h2, h3, h4, h5, h6 {
    /** mettere **/
}

h1 {
    font-size: 1.1em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
/* </editor-fold> */
/* \\\\\ RESET E NORMALIZZAZIONE ///// */

/* ||||| ALL DOC CLASSES ||||| */
/* <editor-fold */
.container {
    width: 100%;
    max-width: unset;
    padding: 0;
}

/* </editor-fold> */
/* \\\\\ ALL DOC CLASSES ///// */

/* ||||| SYMBOLS ||||| */
/* <editor-fold */

/* </editor-fold> */
/* \\\\\ SYMBOLS ///// */

/* ||||| LINKS ||||| */
/* <editor-fold */

/* </editor-fold> */
/* \\\\\ LINKS ///// */

/* ||||| QUOTE ||||| */
/* <editor-fold */

/* </editor-fold> */
/* \\\\\ END QUOTE ///// */

/* ||||| BUTTONS ||||| */
/* <editor-fold */
.btn {
    font-weight: bold;
    padding: 8px 16px;
    transition: all 0.25s;
}

.btn-lg {
    font-size: 18px;
    padding: 15px 20px;
}

.btn-primary {
    background-color: #006aff;
    border-color: #006aff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1633ff;
    border-color: #1633ff;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: #006aff;
    color: #006aff;
}

.btn-outline-primary:hover {
    background-color: #006aff;
    color: #fff;
}

.btn-light {
    background-color: transparent;
    color: rgba(3, 27, 78, 0.6);
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    transition: color 0.3s, border 0.3s;
}

.btn-light:hover {
    background-color: transparent;
    color: rgb(3, 27, 78);
    border-bottom: 3px solid #016AFF;
}

.btn-opposite {
    background-color: #fff;
    border: 1px solid #fff;
    color: #0069ff;
    transition: all 0.3s;
}

.btn-opposite:hover {
    background-color: rgba(225,225,225,0.9);
    border-color: rgba(225,225,225,0.9);
}
/* </editor-fold> */
/* \\\\\ BUTTONS ///// */


/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
#wrapper {
    background: linear-gradient(135deg, rgb(162, 163, 3), rgb(0, 0, 0));
}

/* ||||| MAIN ||||| */
/* <editor-fold */
#screen-top {
    height: calc(100vh - 100px);
}

/* ***** ASIDE ***** */
/* #region */
aside {
    background-color: rgb(0, 0, 0, 0.8);

    color: rgb(255, 255, 255, 0.6);

    padding: 20px;
}

#menu .logo {
    color: white;
}

#menu .list {
    font-size: 12px;

    margin: 20px 0;
}

#menu .list li {
    border-left: 4px solid transparent;

    margin-bottom: 10px;
    margin-left: -20px;
    padding-left: 20px;
}

#menu .list li:hover {
    color: white;

    border-left: 4px solid lightgreen;
}

#menu .list li:last-child {
    margin-bottom: 0;
}

#menu .list a {
    vertical-align: middle;
}

#menu .list i {
    display: inline-block;
    width: 30px;

    font-size: 16px;
    text-align: center;
}

#menu .recent {
    font-size: 11px;
    letter-spacing: 1px;
}

div#account {
    height: 100px;
    background-color: blue;
}

/* #endregion */
/* ***** ASIDE ***** */

/* ***** DIV.CONTENT ***** */
/* #region */
div#content {
    flex-grow: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

nav#content-menu {
    height: 100px;
    background-color: green;
}

div#music {
    height: 100px;
    background-color: pink;
}

/* #endregion */
/* ***** DIV.CONTENT ***** */

/* </editor-fold> */
/* \\\\\ END MAIN ///// */

/* ||||| FOOTER ||||| */
/* <editor-fold */
#screen-btm {
    height: 100px;
    background-color: rgb(25,25,25);
}

#playback {
    width: 100px;
    background-color: purple
}

#play {
    width: 100px;
    background-color: purple
}

#volume {
    width: 100px;
    background-color: purple
}

/* </editor-fold> */
/* \\\\\ END FOOTER ///// */

/* ----------------------- */
/* ----- MEDIA QUERY ----- */
/* ----------------------- */

/* XS */
@media screen and (min-width: 768px) {

}
/* SM */
@media screen and (min-width: 992px) {

}
/* MD */
@media screen and (min-width: 1140px) {

}
/* LG */
